:root{
    --fc-button-text-color: #F8E559;
    --fc-button-bg-color: #2d2e26;
    --fc-button-border-color: #2d2e26;
    --fc-button-hover-bg-color: #2d2e26;
    --fc-button-hover-border-color: #2d2e26;
    --fc-button-active-bg-color: #0f0f10;
    --fc-button-active-border-color: #0f0f10;

    --fc-today-bg-color: #f8e65931;

    --fc-now-indicator-color: #0f0f10;
}
main {
    padding: 0 48px;
    color: var(--primary-color);
}

main h1 {
    padding: 12px 0;
    color: var(--primary-color);
    text-align: center;
    border-bottom: 1px solid var(--primary-color);
}
main>*{
    margin-top: 24px;
}

.fc .fc-button:disabled {
    opacity: 0.80;
}

.fc .fc-button {
    border-radius: 0;
    font-weight: 500;
}